:root {
    --box-shadow-color: rgba(0, 0, 0, 0.2);

    --blue-infinity-color: #001c37;
    --off-white-future-color: #efe7df;

    --blue-achievement-color: #1d77b9;
    --blue-limitless-color: #2da6de;
    --orange-ambition-color: #f15a22;
    --yellow-growth-color: #f99d1c;

}